body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#stats {
  margin-top: 100px;
  text-align: center;
  font-size: 1.2rem;
}

#gameboard {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 50px;
}

.gameboard-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  font-size: 4rem;
  border: 1px solid #000;
}

.gameboard-square:nth-child(-n+3) {
  border-top: none;
}

.gameboard-square:nth-child(n+7) {
  border-bottom: none;
}

.gameboard-square:nth-child(3n+1) {
  border-left: none;
}

.gameboard-square:nth-child(3n+3) {
  border-right: none;
}